.container_loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/*.container__loader svg {
	height: 130px;
	display:inline-block;
	margin: auto;
	text-align: center;
}*/


/* SMILE */
/*body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #ffffff;
}*/
/*body .leftEye,
body .rightEye {
	width: 5vh;
	height: 5vh;
	border-radius: 50%;
	background: #1F4658;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
	-webkit-animation: leftEyeAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
					animation: leftEyeAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
body .rightEye {
	-webkit-animation: rightEyeAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
					animation: rightEyeAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
body .mouth {
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	border: solid 1.3vh #dfdfc2;
	border-right: solid 1.3vh rgba(223,223,194,0);
	border-left: solid 1.3vh rgba(223,223,194,0);
	border-bottom: solid 1.3vh rgba(223,223,194,0);
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(360deg);
					transform: translate(-50%, -50%) rotate(360deg);
	-webkit-animation: mouthAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
					animation: mouthAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@-webkit-keyframes mouthAnimation {
	0% {
		-webkit-transform: translate(-50%, -50%) rotateX(180deg);
						transform: translate(-50%, -50%) rotateX(180deg);
	}
	10% {
		-webkit-transform: translate(-50%, -50%) rotateZ(360deg);
						transform: translate(-50%, -50%) rotateZ(360deg);
	}
	40% {
		-webkit-transform: translate(-50%, -50%) rotateZ(320deg);
						transform: translate(-50%, -50%) rotateZ(320deg);
	}
	60% {
		-webkit-transform: translate(-50%, -50%) rotateZ(900deg);
						transform: translate(-50%, -50%) rotateZ(900deg);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) rotateZ(900deg);
						transform: translate(-50%, -50%) rotateZ(900deg);
	}
}
@keyframes mouthAnimation {
	0% {
		-webkit-transform: translate(-50%, -50%) rotateX(180deg);
						transform: translate(-50%, -50%) rotateX(180deg);
	}
	10% {
		-webkit-transform: translate(-50%, -50%) rotateZ(360deg);
						transform: translate(-50%, -50%) rotateZ(360deg);
	}
	40% {
		-webkit-transform: translate(-50%, -50%) rotateZ(320deg);
						transform: translate(-50%, -50%) rotateZ(320deg);
	}
	60% {
		-webkit-transform: translate(-50%, -50%) rotateZ(900deg);
						transform: translate(-50%, -50%) rotateZ(900deg);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) rotateZ(900deg);
						transform: translate(-50%, -50%) rotateZ(900deg);
	}
}
@-webkit-keyframes leftEyeAnimation {
	0% {
		width: 5vh;
		height: 5vh;
		-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
	}
	50% {
		width: 5vh;
		height: 5vh;
		-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
	}
	60% {
		width: 2vh;
		height: 2vh;
		-webkit-transform: translate(-150%, -50%);
						transform: translate(-150%, -50%);
	}
	90% {
		width: 2vh;
		height: 2vh;
		-webkit-transform: translate(-150%, -50%);
						transform: translate(-150%, -50%);
	}
	100% {
		width: 5vh;
		height: 5vh;
		-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
	}
}
@keyframes leftEyeAnimation {
	0% {
		width: 5vh;
		height: 5vh;
		-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
	}
	50% {
		width: 5vh;
		height: 5vh;
		-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
	}
	60% {
		width: 2vh;
		height: 2vh;
		-webkit-transform: translate(-150%, -50%);
						transform: translate(-150%, -50%);
	}
	90% {
		width: 2vh;
		height: 2vh;
		-webkit-transform: translate(-150%, -50%);
						transform: translate(-150%, -50%);
	}
	100% {
		width: 5vh;
		height: 5vh;
		-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
	}
}
@-webkit-keyframes rightEyeAnimation {
	0% {
		width: 5vh;
		height: 5vh;
		-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
	}
	50% {
		width: 5vh;
		height: 5vh;
		-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
	}
	60% {
		width: 2vh;
		height: 2vh;
		-webkit-transform: translate(50%, -50%);
						transform: translate(50%, -50%);
	}
	70% {
		width: 2vh;
		height: 2vh;
		-webkit-transform: translate(50%, -50%);
						transform: translate(50%, -50%);
	}
	75% {
		width: 2vh;
		height: 2px;
		-webkit-transform: translate(50%, -50%);
						transform: translate(50%, -50%);
	}
	80% {
		width: 2vh;
		height: 2vh;
		-webkit-transform: translate(50%, -50%);
						transform: translate(50%, -50%);
	}
	90% {
		width: 2vh;
		height: 2vh;
		-webkit-transform: translate(50%, -50%);
						transform: translate(50%, -50%);
	}
	100% {
		width: 5vh;
		height: 5vh;
		-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
	}
}
@keyframes rightEyeAnimation {
	0% {
		width: 5vh;
		height: 5vh;
		-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
	}
	50% {
		width: 5vh;
		height: 5vh;
		-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
	}
	60% {
		width: 2vh;
		height: 2vh;
		-webkit-transform: translate(50%, -50%);
						transform: translate(50%, -50%);
	}
	70% {
		width: 2vh;
		height: 2vh;
		-webkit-transform: translate(50%, -50%);
						transform: translate(50%, -50%);
	}
	75% {
		width: 2vh;
		height: 2px;
		-webkit-transform: translate(50%, -50%);
						transform: translate(50%, -50%);
	}
	80% {
		width: 2vh;
		height: 2vh;
		-webkit-transform: translate(50%, -50%);
						transform: translate(50%, -50%);
	}
	90% {
		width: 2vh;
		height: 2vh;
		-webkit-transform: translate(50%, -50%);
						transform: translate(50%, -50%);
	}
	100% {
		width: 5vh;
		height: 5vh;
		-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
	}
}





svg {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
}

.rect {
	fill: none;
	stroke-width: 8px;
	stroke: black;
	stroke-dasharray: 40;
	stroke-dashoffset: 50%;

	animation: movedash 1.5s forwards 0s infinite;
}

@keyframes movedash {
	to {
		stroke-dashoffset: 250%;
	}
}






.loader-square {
	display: inline-block;
	width: 60px;
	height: 60px;
	position: relative;
	border: 4px solid #1F4658;
	top: 50%;
	animation: loader 2s infinite ease;
}

.loader-inner-square {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: #1F4658;
	animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}







.wrapper-ball {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: blur(15px) contrast(30);
	background: #fff;
}

.ball {
	position: absolute;
	width: 120px;
	height: 120px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	transform-origin: 66px center;
	margin-left: 40px;
}

.ball:before {
	content: '';
	width: 68px;
	height: 68px;
	position: absolute;
	top: 50%;
	left: -10px;
	transform: translateY(-50%);
	border-radius: 100%;
	background: #f00;
}

.ball-1 {
	margin-left: -50px;
}

.ball-2 {
	margin-left: 25px;
	transform: translateY(-50%) rotate(180deg);
	margin-left: -100px;
	animation: rotate-1 1.7s linear infinite;
	z-index: 2;
}

@keyframes rotate-1 {
	0% {
		margin-left: -18px;
		transform: translateY(-50%) rotate(0deg);
		transform-origin: 66px center;
	}
	25% {
		margin-left: -25px;
		transform: translateY(-50%) rotate(-180deg);
		transform-origin: 66px center;
	}
	50% {
		margin-left: -33px;
		transform: translateY(-50%) rotate(-360deg);
		transform-origin: 66px center;
	}
	50.1% {
		transform-origin: -12px center;
	}
	75% {
		margin-left: -36px;
		transform: translateY(-50%) rotate(-180deg);
		transform-origin: -12px center;
	}
	75.01 {
		margin-left: -66px;
		transform: translateY(-50%) rotate(-180deg);
		transform-origin: -12px center;
	}
	100% {
		margin-left: -18px;
		transform: translateY(-50%) rotate(0deg);
		transform-origin: -12px center;
	}
}

.ball-3 {
	margin-left: 120px;
}*/





#page {
	-webkit-box-align: center;
	-webkit-align-items: center;
			-ms-flex-align: center;
					align-items: center;
	background: rgb(31,70,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(31,70,88,1) 48%, rgba(71,179,230,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(31,70,88,1) 48%,rgba(71,179,230,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(31,70,88,1) 48%,rgba(71,179,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f4658', endColorstr='#47b3e6',GradientType=0 ); /* IE6-9 */
	bottom: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
			-ms-flex-pack: center;
					justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

#phrase_box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
			-ms-flex-flow: column;
					flex-flow: column;
	height: 150px;
	overflow: hidden;
	width: 250px;
	position: relative;
}

#phrases {
	-webkit-animation: slide-phrases-upward 20s;
					animation: slide-phrases-upward 20s;
}

#footer {
	bottom: 30px;
	color: white;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
			-ms-flex-pack: center;
					justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
}

@-webkit-keyframes slide-phrases-upward {
	0% {
		-webkit-transform: translateY(0px);
						transform: translateY(0px);
	}
	5% {
		-webkit-transform: translateY(-50px);
						transform: translateY(-50px);
	}
	10% {
		-webkit-transform: translateY(-100px);
						transform: translateY(-100px);
	}
	15% {
		-webkit-transform: translateY(-150px);
						transform: translateY(-150px);
	}
	20% {
		-webkit-transform: translateY(-200px);
						transform: translateY(-200px);
	}
	25% {
		-webkit-transform: translateY(-250px);
						transform: translateY(-250px);
	}
	30% {
		-webkit-transform: translateY(-300px);
						transform: translateY(-300px);
	}
	35% {
		-webkit-transform: translateY(-350px);
						transform: translateY(-350px);
	}
	40% {
		-webkit-transform: translateY(-400px);
						transform: translateY(-400px);
	}
	45% {
		-webkit-transform: translateY(-450px);
						transform: translateY(-450px);
	}
	50% {
		-webkit-transform: translateY(-500px);
						transform: translateY(-500px);
	}
	55% {
		-webkit-transform: translateY(-550px);
						transform: translateY(-550px);
	}
	60% {
		-webkit-transform: translateY(-600px);
						transform: translateY(-600px);
	}
	65% {
		-webkit-transform: translateY(-650px);
						transform: translateY(-650px);
	}
	70% {
		-webkit-transform: translateY(-700px);
						transform: translateY(-700px);
	}
	75% {
		-webkit-transform: translateY(-750px);
						transform: translateY(-750px);
	}
	80% {
		-webkit-transform: translateY(-800px);
						transform: translateY(-800px);
	}
	85% {
		-webkit-transform: translateY(-850px);
						transform: translateY(-850px);
	}
	90% {
		-webkit-transform: translateY(-900px);
						transform: translateY(-900px);
	}
	95% {
		-webkit-transform: translateY(-950px);
						transform: translateY(-950px);
	}
	100% {
		-webkit-transform: translateY(-1000px);
						transform: translateY(-1000px);
	}
}

@keyframes slide-phrases-upward {
	0% {
		-webkit-transform: translateY(0px);
						transform: translateY(0px);
	}
	5% {
		-webkit-transform: translateY(-50px);
						transform: translateY(-50px);
	}
	10% {
		-webkit-transform: translateY(-100px);
						transform: translateY(-100px);
	}
	15% {
		-webkit-transform: translateY(-150px);
						transform: translateY(-150px);
	}
	20% {
		-webkit-transform: translateY(-200px);
						transform: translateY(-200px);
	}
	25% {
		-webkit-transform: translateY(-250px);
						transform: translateY(-250px);
	}
	30% {
		-webkit-transform: translateY(-300px);
						transform: translateY(-300px);
	}
	35% {
		-webkit-transform: translateY(-350px);
						transform: translateY(-350px);
	}
	40% {
		-webkit-transform: translateY(-400px);
						transform: translateY(-400px);
	}
	45% {
		-webkit-transform: translateY(-450px);
						transform: translateY(-450px);
	}
	50% {
		-webkit-transform: translateY(-500px);
						transform: translateY(-500px);
	}
	55% {
		-webkit-transform: translateY(-550px);
						transform: translateY(-550px);
	}
	60% {
		-webkit-transform: translateY(-600px);
						transform: translateY(-600px);
	}
	65% {
		-webkit-transform: translateY(-650px);
						transform: translateY(-650px);
	}
	70% {
		-webkit-transform: translateY(-700px);
						transform: translateY(-700px);
	}
	75% {
		-webkit-transform: translateY(-750px);
						transform: translateY(-750px);
	}
	80% {
		-webkit-transform: translateY(-800px);
						transform: translateY(-800px);
	}
	85% {
		-webkit-transform: translateY(-850px);
						transform: translateY(-850px);
	}
	90% {
		-webkit-transform: translateY(-900px);
						transform: translateY(-900px);
	}
	95% {
		-webkit-transform: translateY(-950px);
						transform: translateY(-950px);
	}
	100% {
		-webkit-transform: translateY(-1000px);
						transform: translateY(-1000px);
	}
}
#loadingCheckCircleSVG-0 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: -1.5s;
					animation-delay: -1.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-1 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: -0.5s;
					animation-delay: -0.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-2 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 0.5s;
					animation-delay: 0.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-3 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 1.5s;
					animation-delay: 1.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-4 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 2.5s;
					animation-delay: 2.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-5 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 3.5s;
					animation-delay: 3.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-6 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 4.5s;
					animation-delay: 4.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-7 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 5.5s;
					animation-delay: 5.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-8 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 6.5s;
					animation-delay: 6.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-9 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 7.5s;
					animation-delay: 7.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-10 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 8.5s;
					animation-delay: 8.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-11 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 9.5s;
					animation-delay: 9.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-12 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 10.5s;
					animation-delay: 10.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-13 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 11.5s;
					animation-delay: 11.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-14 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 12.5s;
					animation-delay: 12.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-15 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 13.5s;
					animation-delay: 13.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-16 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 14.5s;
					animation-delay: 14.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-17 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 15.5s;
					animation-delay: 15.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-18 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 16.5s;
					animation-delay: 16.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-19 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 17.5s;
					animation-delay: 17.5s;
	fill: white;
	opacity: 0;
}

#loadingCheckCircleSVG-20 {
	-webkit-animation: fill-to-white 5000ms;
					animation: fill-to-white 5000ms;
	-webkit-animation-delay: 18.5s;
					animation-delay: 18.5s;
	fill: white;
	opacity: 0;
}

@-webkit-keyframes fill-to-white {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fill-to-white {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
#loadingCheckSVG-0 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: -1.5s;
					animation-delay: -1.5s;
}

#loadingCheckSVG-1 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: -0.5s;
					animation-delay: -0.5s;
}

#loadingCheckSVG-2 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 0.5s;
					animation-delay: 0.5s;
}

#loadingCheckSVG-3 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 1.5s;
					animation-delay: 1.5s;
}

#loadingCheckSVG-4 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 2.5s;
					animation-delay: 2.5s;
}

#loadingCheckSVG-5 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 3.5s;
					animation-delay: 3.5s;
}

#loadingCheckSVG-6 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 4.5s;
					animation-delay: 4.5s;
}

#loadingCheckSVG-7 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 5.5s;
					animation-delay: 5.5s;
}

#loadingCheckSVG-8 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 6.5s;
					animation-delay: 6.5s;
}

#loadingCheckSVG-9 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 7.5s;
					animation-delay: 7.5s;
}

#loadingCheckSVG-10 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 8.5s;
					animation-delay: 8.5s;
}

#loadingCheckSVG-11 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 9.5s;
					animation-delay: 9.5s;
}

#loadingCheckSVG-12 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 10.5s;
					animation-delay: 10.5s;
}

#loadingCheckSVG-13 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 11.5s;
					animation-delay: 11.5s;
}

#loadingCheckSVG-14 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 12.5s;
					animation-delay: 12.5s;
}

#loadingCheckSVG-15 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 13.5s;
					animation-delay: 13.5s;
}

#loadingCheckSVG-16 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 14.5s;
					animation-delay: 14.5s;
}

#loadingCheckSVG-17 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 15.5s;
					animation-delay: 15.5s;
}

#loadingCheckSVG-18 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 16.5s;
					animation-delay: 16.5s;
}

#loadingCheckSVG-19 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 17.5s;
					animation-delay: 17.5s;
}

#loadingCheckSVG-20 {
	-webkit-animation: fill-to-coral 5000ms;
					animation: fill-to-coral 5000ms;
	-webkit-animation-delay: 18.5s;
					animation-delay: 18.5s;
}

@-webkit-keyframes fill-to-coral {
	0% {
		fill: white;
	}
	10% {
		fill: #1F4658;
	}
	100% {
		fill: #1F4658;
	}
}

@keyframes fill-to-coral {
	0% {
		fill: white;
	}
	10% {
		fill: #1F4658;
	}
	100% {
		fill: #1F4658;
	}
}

