$header_color: #163340;
$navy: #1F4658;
$blue : #73CEE1;
$gray : #F5F5F5;

$flexbox-row-margin : 0px;
$flexbox-column-padding : 0px;

$small-screen : 58em;
$medium-screen: 64em;
$large-screen : 70em;

$nav-width : 265px;
$header-height: 50px;

$input-padding : 0.7em;
