<div class="content__header">
	<div class="content__header__left">
		<span class="content__header__left__title content__header__left__item">Today's Route</span>
		<span class="content__header__left__today content__header__left__item"> 2016 June 19</span>
		<a class="content__header__left__item" ng-click="show_full_route()"> See full routes</a>
	</div>
	<div class="content__header__right">
    	<label class="content__header__right__item" ng-show="!is_searching_routes"> The location </label>
   		<input class="content__header__right__item" type="text" name="" ng-model="location" ng-show="!is_searching_routes">
   		<button class="content__header__right__item" ng-show="!is_searching_routes" ng-click="generates_lead()"> Generates leads </button>
        <div ng-show="is_searching_routes" class="loader"></div>
	</div>
</div>

<div class="content__body">

    <table class="responstable">
        <tr>
            <th> Name </th>
            <th> Address</th>
            <th>City</th>
            <th>Type of business</th>
            <th>Phone number</th>
            <th>Status</th>
            <th>Details</th>
            <th>Actions</th>
        </tr>

        <tr ng-repeat="route in routes">
            <td>{{route.name}}</td>
            <td>{{route.address}}</td>
            <td>{{route.city}}</td>
            <td>{{route.term}}</td>
            <td>{{route.phone_number}}</td>
            <td>{{route.status}}</td>
            <td>{{route.notes}}</td>
            <td>
                <button ng-click="add_note_to_route(route);">Add</button>
            </td>
        </tr>
    </table>

</div>

