<div class="content__header">
	<div class="content__header__left col s12">
		<span class="content__header__left__title">Today's Route</span><br>
		<span class="content__header__left__today"> 2016 June 19</span>
	</div>
	<div class="content__header__right col s12">
		<a ng-click="show_full_route()"> See full routes</a>
        <button ng-show="!is_searching_routes" ng-click="generates_lead()"> Generates leads </button>
        <div ng-show="is_searching_routes" class="loader"></div>
	</div>
</div>

<div class="content__body">

    <table class="responstable">
        <tr>
            <th> Name </th>
            <th> Address</th>
            <th>City</th>
            <th>Type of business</th>
            <th>Status</th>
            <th>Details</th>
            <th>Actions</th>
        </tr>

        <tr ng-repeat="route in routes">
            <td>{{route.name}}</td>
            <td>{{route.address}}</td>
            <td>{{route.city}}</td>
            <td>{{route.term}}</td>
            <td>{{route.status}}</td>
            <td>{{route.notes}}</td>
            <td>
                <button ng-click="add_note_to_route(route);">Add</button>
            </td>
        </tr>
    </table>

</div>

